<!-- FOOTER-->
<footer class="bg-light container-fluid">
  <!-- Uses Font Awesome -->
  <div id="Social-Media-Container">
    <i class="fa-solid fa-rss"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>


  <div id="Copyright">
    <div>

      <!-- Add 'text-black-50' Bootstrap class to text elements to give
           them 50% opacity. -->
      <p class="text-black-50">Copyright &copy; 2023 Team Five</p>
      <p class="text-black-50">Team Five is the Best Team! We are committed to providing the best product and
        outstanding customer service.</p>
      <sub class="text-black-50">All Sales are Final. No Refunds! Go Away!</sub>

    </div>
  </div>
</footer>
