<!DOCTYPE html>
<html lang="en">


<!-- Adds the Head Partial. -->
<%- include('./partials/_head'); %>


<!-- THE BODY -->

<body>

  <!-- Adds the Navigation Bar Partial. -->
  <%- include('./partials/_navbar'); %>

  <!-- HEADER -->
  <header class="header">
    <h5>Welcome to TeamFive Buy/sell Listings Website!!!</h5>
    <p>Explore our featured items and more...</p>
  </header>


  <!-- MAIN CONTAINER -->
  <main id="main-container">

    <!-- FEATURED 4 ITEMS SECTION-->

    <section>
      <div class="container">
        <!-- FIRST ROW -->
        <div class="row my-5">

          <div class="col-6">
            <div class="card">
              <img src="../docs/images/desktop1.png" class="card-img-top" alt="Desktop Image" />
              <div class="card-body">
                <div class="row">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="card-title">Desktop</h5>
                    </li>
                    <li>
                      <p class="card-text">Description for Desktop goes here!</p>
                    </li>
                    <li><a href="/api/users/items/categories/desktops" class="btn btn-primary">Shop Now</a>
                    </li>
                  </ul>

                </div>

              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card">
              <img src="../docs/images/laptop2.png" class="card-img-top" alt="Laptop Image" />
              <div class="card-body">
                <div class="row">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="card-title">Laptop</h5>
                    </li>
                    <li>
                      <p class="card-text">Description for Laptop goes here!</p>
                    </li>
                    <li><a href="/api/users/items/categories/laptops" class="btn btn-primary">Shop Now</a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- SECOND ROW -->
        <div class="row my-5">
          <div class="col-6">
            <div class="card">
              <img src="../docs/images/mini2.png" class="card-img-top" alt="Mini-PC Image" />
              <div class="card-body">
                <div class="row">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="card-title">Mini-PC</h5>
                    </li>
                    <li>
                      <p class="card-text">Description for Mini-PC goes here!</p>
                    </li>
                    <li><a href="/api/users/items/categories/miniPCs" class="btn btn-primary">Shop Now</a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card">
              <img src="../docs/images/phone2.png" class="card-img-top" alt="Phone Image" />
              <div class="card-body">
                <div class="row">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="card-title">Phones</h5>
                    </li>
                    <li>
                      <p class="card-text">Description for Phone goes here!</p>
                    </li>
                    <li><a href="/api/users/items/categories/phones" class="btn btn-primary">Shop Now</a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

        </div>

    </section>

  </main>


  <!-- Add the Footer from partials folder -->
  <%- include('./partials/_footer'); %>

</body>

</html>
