<!DOCTYPE html>
<html lang="en">


<!-- Adds the Head Partial. -->
<%- include('./partials/_head'); %>


<!-- THE BODY -->

<body>

  <!-- Adds the Navigation Bar Partial. -->
  <%- include('./partials/_navbar'); %>

  <!-- HEADER -->
  <header class="header">
    <h1 class="fw-bold">Welcome to TeamFive Buy/sell Listings Website!!!</h1>
    <p>Explore our featured items and more...</p>

    <marquee font style="font-weight: normal;" scrolldelay="50"><font size="5" face="Verdana"><font color="black">Discover Your Next Treasure – Buy and Sell with Confidence!</marquee>

  </header>


  <!-- MAIN CONTAINER -->
  <main id="main-container" class="container">

    <!-- FEATURED 4 ITEMS SECTION-->

    <section>
      <div class="container">
        <!-- FIRST ROW -->
        <div class="row my-5">

          <div class="col-6">
            <div class="card">
              <img src="/images/desktop1.png" class="card-img-top" alt="Desktop Image" />
              <div class="card-body">
                <div class="row">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="card-title">Desktops</h5>
                    </li>
                    <li><a href="/api/users/items/categories/desktops" class="btn btn-primary">Shop Now</a>
                    </li>
                  </ul>

                </div>

              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card">
              <img src="/images/laptop2.png" class="card-img-top" alt="Laptop Image" />
              <div class="card-body">
                <div class="row">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="card-title">Laptops</h5>
                    </li>
                    <li><a href="/api/users/items/categories/laptops" class="btn btn-primary">Shop Now</a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- SECOND ROW -->
        <div class="row my-5">
          <div class="col-6">
            <div class="card">
              <img src="/images/mini2.png" class="card-img-top" alt="Mini-PC Image" />
              <div class="card-body">
                <div class="row">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="card-title">Mini-PCs</h5>
                    </li>
                    <li><a href="/api/users/items/categories/miniPCs" class="btn btn-primary">Shop Now</a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card">
              <img src="/images/phone3.png" class="card-img-top" alt="Phone Image" />
              <div class="card-body">
                <div class="row">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="card-title">Phones</h5>
                    </li>
                    <li><a href="/api/users/items/categories/phones" class="btn btn-primary">Shop Now</a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

        </div>

    </section>

  </main>


  <!-- Add the Footer from partials folder -->
  <%- include('./partials/_footer'); %>

</body>

</html>
