<!DOCTYPE html>
<html lang="en">


<!-- Adds the Head Partial. -->
<%- include('./partials/_head'); %>


<!-- THE BODY -->
<body>

  <!-- MAIN CONTAINER -->
  <main id="main-container" class="container">

        <!-- Adds the Navigation Bar Partial. -->
        <%- include('./partials/_navbar'); %>

    <!-- Product Card -->
    <section>

      <div class="text-center">

        <!-- Product Image -->
        <img src="../images/desktop1.png" class="rounded" alt="Product Image">

        <!-- Product Information -->
        <!-- Product Category -->
        <div class="text-center"><strong>Desktop</strong><br>

          Processor: Intel i3-10200: 3.5 GHz, 4 Cores [10th gen Intel® Core™]
          Graphics: Intel® UHD Graphics
          Memory: 16 GB Dual Channel DDR4 at 2666 MHz
          Storage: M.2 SSD 2 TB
          Wifi: Wifi 6

        </div>

        <!-- Contact Seller Button -->
        <div class="d-grid gap-2 col-3 mx-auto">
          <button class="btn btn-info" type="submit">Contact Seller</button>
        </div>

    </section>

     <!-- Add the Footer from partials folder -->
     <%- include('./partials/_footer'); %>

  </main>


</body>

</html>
