body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(163, 208, 219);
  background: linear-gradient(227deg,
      rgba(163, 208, 219, 1) 0%,
      rgba(163, 176, 219, 1) 20%,
      rgba(163, 173, 219, 1) 34%,
      rgba(163, 219, 208, 1) 59%,
      rgba(163, 208, 219, 1) 74%,
      rgba(163, 208, 219, 1) 100%);
}

.container {
  padding-top: 60px;


.img {
  max-width: 100%;
}


/*************************** NAVIGATION BAR ELEMENTS **************************/


#navbarSupportedContent {
  padding-top: 10px;
}

.navbar-expand-lg {
  top: 0;
  left: 0;
  width: 100vw;
  margin-bottom: 2rem;
  z-index: 1000;
  /* Ensure the navigation bar is above other content */
}

.navbar-nav i {

  justify-content: center;
  margin-left: 3em;
  padding: 8px;

}

/* Custom CSS to change the color of icons */
.fa-solid {
  color: rgb(34, 0, 255)
}

/* Targets the Person Icon in the Nav Bar and aligns it with the rest of the elements. */
#navbarDropdown i {
  padding-top: 0px;
}

.input-group {
  margin-bottom: 15px;
}

/* Custom CSS to hide the dropdown arrow */
.navbar-nav .dropdown-toggle::after {
  display: none;
}

.card-img-top {
  width: 300px;
}

/************************** CATEGORY PAGE ELEMENTS ****************************/

#Filter-Function {
  width: 100vw;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

#Product-Cards-Container {
  width: 90vw;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  border-radius: 5%;
  padding:1rem;

  height: 28rem;
  max-width: 18rem;
  margin-right: 1rem;

}

.card-title {
  margin-bottom: 1rem;
}

#User-Buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}


.card-body img {
  max-height: 200px;
  max-width: 250px;
  margin-bottom: 1rem;
}


/***************************** FOOTER ELEMENTS ********************************/


footer {
  padding: 1.5rem;
  bottom: 0;
  margin: 0;
}

footer i {
  font-size: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

footer p {
  margin-bottom: 0;
}
